---
import TFCAnvil from '@/components/TFC-Anvil'
import Metadata from '@/layouts/Metadata.astro'
import AnvilPattern from '@/data/tfc/optimalAnvilPattern.json'
import type { AnvilMoves } from '@/data/tfc/anvilTypes'
---

<style is:global>
  img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }

  /* Image button */
  button:has(img) {
    cursor: pointer;
    outline: inherit;
    border: none;
    background: none;
    padding: 0;
    color: inherit;
    font: inherit;
  }

  /** Image button hover */
  button:has(img):hover {
    filter: brightness(1.3);
  }
</style>

<Metadata
  title='TFC Anvil Machine'
  description='Yet Another TerraFirmaCraft anvil calculator'
>
  <header><h1>TFC Anvil Machine</h1></header>
  <TFCAnvil client:load optimalPattern={AnvilPattern as AnvilMoves[]} />
</Metadata>
